<h1>Hey, do you like my photo?</h1>
<% if flash[:notice] %>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<img id="photo" src="/images/photo.jpg">
<form action="/send_text" method="post">
  <div class="answer">
    <input type="radio" name="like" value="yes" checked /> Yes, great photo!
  </div>
  <div class="answer">
    <input type="radio" name="like" value="no"/> Come on, are you serious?
  </div>
  <div class="answer">
    What's your name?
    <input type="text" name="name">
  </div>
  <div>
    <button type="submit">Tell me!</button>
  </div>
</form>
